.footer {
  margin-top: 60px;
  background: $footer;
  padding: 100px 0px;
  position: relative;

  .container {
    margin-bottom: 40px;
  }

  img {
    position: absolute;
    bottom: 0;
  }

  .line {
    border-bottom: 1px solid #4c4d77;
    padding-bottom: 100px;
    margin-bottom: 40px;
  }

  form {
    margin-top: 40px;

    input {
      padding: 12px 20px;
      width: 100%;
      margin-right: 5px;
      border-color: transparent;
    }

    button {
      background: $primary;
      color: white;
      border: none;
      font-weight: bold;
      white-space: nowrap;
      padding: 12px 20px;
      cursor: pointer;

      &:hover {
        background: darken($primary, 5%);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 50px 0px;
  }
}
