.text-lg {
  font-size: 40px;
}

.font-bold {
  font-weight: bold;
}

.w-full {
  width: 100%;
}

.font-900 {
  font-weight: 900;
}

.is-absolute {
  position: absolute;
}

.max-w-650 {
  max-width: 650px;
}

.mx-auto {
  margin: 0px auto;
}

.lh-2 {
  line-height: 2.5em;
}

@media screen and (max-width: 768px) {
  .has-text-black-mobile {
    color: black !important;
  }
}
