*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Quicksand', sans-serif;
}

/*---------------- HEADER ------------------*/
header{
    background-color: #FC4445;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

nav, .redes-header{
    padding: 24px 0;
}

/* DIV HEADER LOGO -------- */
.logo-header{
    width: 6%;
    float: left;
}

.link-logo{
    display: block;
    margin: 0 10px;
}

.logo-header img{
    width: 70px;
    display: block;
    margin: 0 auto;
}


/* NAV ------------*/
 nav{
    width: 84%;
    float: left;
}

.menu{
    list-style-type: none;
}

.menu li{
    float: left;
}

.link-nav{
    display: inline-block;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color:black;
    font-size: 20px;
}

.link-nav:hover{
    color: white;   
    border-bottom: solid 3px white; 
}
.link-nav:active{
    background-color: rgba(0, 0, 0, .3);
}

.activo{
    color: white;
    border-bottom: solid 3px white; 
}

/* DIV HEADER REDES ----------- */

.redes-header{
    width: 5%;
    float: right;
}

.link-redes{
    display: block;
}

.redes-header img{
    width: 25px;
    display: block;
    margin: 0 auto;
}

/* ------------------------- SECTION HOME ------------------------- */
.section-home{
    margin-top: 75px;
    padding: 50px 0 50px 0;
    background-color:rgb(26, 26, 26);
}

.portada-home{
    height: 580px;
    background-image: url(../img/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.portada-home h1{
    font-size: 45px;
    text-align: center;
    padding-top: 160px;
}

.detalle-bienvenida{
    display: block;
    font-size: 65px;
    margin: 20px 0;
    padding: 10px 0;
    background-color: rgba(87, 209, 209, 0.3);
}

/* ARTICLE FRASE --- */

.frase-home{
    margin: 50px auto 0 auto;
    height: 250px;
    background-color:#55BCC9;
}

.detalle-frase{
    font-size: 70px;
}

.frase{
    padding-top: 40px;
    color: white;
    font-size: 35px;
    text-align: center;
}

/*------------------------------------ SECTION SERVICIOS ------------------------- */
.section-servicios{
    padding: 75px 0 30px 0;
    background-color: #CAFAFE;
}

.contenedor-titulo-servicios{
    text-align: center;
    padding: 20px;
}

.contenedor-titulo-servicios h1{
    text-transform: uppercase;
    font-size: 40px;
}

.contenedor-servicios{
    width: 90%;
    margin: 0 auto;
}

.contenedor-servicios a{
    font-size: 25px;
    color: black;

}

.contenedor-servicios a:hover{
    color: black;
}

.contenedor-dgrafico{
    background-image: url(../img/3159557.jpg);
    background-size: cover;
    height: 20%;
    width: 50%;
    float: left;
}

.contenedor-dgrafico h2,
.contenedor-digital h2{
    text-align: center;
    width: 50%;
    margin: 70px auto;
    padding: 10px;
    background-color: #fff;
}

.contenedor-digital{
    width: 50%;
    background-image: url(../img/diseño-digital.png);
    height: 200px;
    float: left;
}

.fila2-comentario-cliente{
    width: 60%;
    margin: 50px auto 0 auto;
}

.titulo-comentario{
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}

.contenedor-foto-cliente img{
    width: 100%;
}

.contenedor-foto-cliente{
    width: 15%;
    float: left;
}

.contenedor-comentario{
    width: 82%;
    float: left;
    font-size: 18px;
    padding-left: 10px;
}

.nombre-cliente{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

/* ------------------------ SECTION DISEñO DIGITAL & DISEño GRAFICO ---------------------- */

.section-diseño{
    margin-top: 75px;
    background-color: #CAFAFE;
}

.article-diseño{
    width: 80%;
    margin: 0 auto;
    padding: 60px;
}

.contenedor-titulo-digital,
.contenedor-titulo-dgrafico{
    background-color: rgb(0, 147, 201);
    height: 120px;
    position: relative;
}

.titulo-digital,
.titulo-dgrafico{
    position: absolute;
    right: 30px;
    bottom: 15px;
    text-transform: uppercase;
    font-size: 50px;
}
.contenedor-categorias{
    padding: 25px;
}
.categoria{
    width: 33.33%;
    float: left;
    padding: 0;
}

.contenedor-imagen img{
    width: 100%;
    height: 300px;

}

.contenedor-imagen{
    width: 90%;
    margin: 0 auto;
}

.contenedor-descripcion h2{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 0;
    text-transform: uppercase;
}

.contenedor-descripcion{
    width: 90%;
    margin: 0 auto;
    background-color: rgb(0, 158, 185);
    padding: 20px 0;
    text-align: center;
}

.contenedor-descripcion p{
    padding: 10px;
    font-weight: bold;
}

/* BOTON E INTERACCION */
.boton{
    background-color: rgb(255, 121, 121);
    display: inline-block;
    width: 30%;
    margin: 0 auto;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border: none;
}

.boton:hover{
    background-color: rgb(255, 56, 56);
}


/* ------------------------- SECTION SOBRE MI -------------------------*/
.section-sobremi{
    margin-top: 75px;
    padding-bottom: 30px;
    background-image: url(../img/dise.jpg);
    background-repeat: no-repeat;
    background-size: cover;           
}

#uno{
   width: 40%;
   float: left;
   padding: 20px;
   margin-left: 5%;
   margin-top: 22%;
   text-align: justify;
   font-size: 18px;
   color: white;
   background-color: rgba(0, 0, 0, .4);
}
#dos{
    width: 40%;
    float: right;
    padding: 20px;
    margin-right: 5%;
    margin-top: 25%;
    text-align: justify;
    font-size: 18px;
    color: white;
    background-color: rgba(0, 0, 0, .4);

}
#tres{
   font-size: 26px;
}

/*------------------------- SECTION CONTACTO -------------------------*/

.section-contacto{
    margin-top: 75px;
    background-color: #CAFAFE;
}

.article-contacto{
    width: 90%;
    margin: 0 auto;
}

.contenedor-titulo-contacto{
    text-align: center;
    padding: 20px;
}

.contenedor-titulo-contacto h1{
    font-size: 40px;
}

.contenedor-formulario-iframe{
    padding: 20px 0 50px 0;
}

.detalle-contacto{
    color: red;
}

/* FORM CONTACTO ------------*/
.form-contacto{
    width: 50%;
    float: left;
    height: 580px;
    background-color:#55BCC9;
    text-align: center;
    padding: 15px 0;
}

.contenedor-datos h2,
.datos-de-contacto h2{
    padding-bottom: 10px;
}

.contenedor-datos,
.contenedor-motivo{
    padding-bottom: 10px ;
}

.contenedor-datos input{
    font-family: 'Quicksand', sans-serif;
    width: 80%;
    margin: 10px 0 10px 0px;
    padding: 10px;
    border: hidden;
}

.contenedor-motivo label{
    padding: 25px;
}

.contenedor-mensaje h3,
.contenedor-motivo h3{
    padding: 10px 0 10px 0;
}

.contenedor-mensaje textarea{
    width: 80%;
    border: hidden;
    padding: 5px 0 0 8px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 10px;
}

hr{
    width: 30%;
    height: .5px;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, .5);
}

/* DATOS DE CONTACTO Y IFRAME */

.contenedor-contacto{
    float: left;
    background-color: #55BCC9;
    width: 50%;
    height: 610px;
    background-color: rgba(255, 255, 255, 0.5);

}
.datos-de-contacto{
    padding: 15px;
}

.datos-de-contacto p{
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0 5px 20px;
}

.detalle-dato-contacto{
    font-weight: lighter;
}

.link-email{
    text-decoration: none;
    color: red;
}
/* IFRAME */
iframe{
    width: 90%;
    display: block;
    height: 360px;
    margin: 25px auto 0 auto;
}

/*------------------------------------ SECTION NOVEDADES ------------------------- */
.section-novedades{
	padding: 75px 0 50px 0;
    background-color:#CAFAFE;
}

.fila1,
.fila2{
    margin: 0 auto;
    width: 80%;
}

.novedad img{
    width: 100%;
}

.novedad{
    width: 30%;
    float: left;
    padding: 30px 1.6%;
}

.novedad-newsletter img{
    width: 100%;
}

.novedad-newsletter{
    float: right;
    width: 45%;
}

.novedades-newsletter{
    width: 45%;
    float: left;
	background:rgb(255, 87, 87); 
	color: black; 
	font-weight:bold; 
	border:3px solid #0D0000; 
    border-radius:10px;
    padding: 1%;
}

.novedades-newsletter p{
    font-size:18px; 
    padding: 5px 0 15px 0;
    text-align: justify;
}

.form-suscripcion{
    text-align: center;
}

.form-suscripcion input{
    margin: 10px;
}
.campo-email{
    width: 80%;
    padding: 5px;
}

/* ---------------------- FOOTER ----------------------------*/

footer{
    background-color:rgb(26, 26, 26);
    color: white;
    padding: 40px 0;
}

footer h3{
    padding: 5px 0;
    text-transform: uppercase;
}

.contenedor-footer{
    width: 80%;
    margin: 0 auto;
    overflow: auto;
}

.footer-marca,
.footer-dgrafico,
.footer-ddigital,
.footer-contacto{
    width: 25%;
    float: left;
}

.footer-marca h3{
    text-align: center;
}

.contenedor-logo{
    width: 30%;
    margin: 0 auto;

}
.contenedor-logo img{
    width: 100%;
}

.footer-dgrafico a,
.footer-ddigital a{
    display: block;
    text-decoration: none;
    color: red;
}

/* CORTAR FLOAT */
.parche{
    clear: both;
}