@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

// $fa-font-path: '~font-awesome/fonts';
// @import '~font-awesome/scss/font-awesome';

// colors
$primary: #0061ff;
$footer: #2d2e4b;

@import "~bulma/bulma";
@import './components/common';
@import './components/helpers';

// components
@import './components/header';
@import './components/banner';
@import './components/circular';
@import './components/testimonials';
@import './components/footer';

html,
body {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  background: #ffffff;
}
